[submodule "HACC 2018 - The Bird Squad"]
	path = HACC 2018 - The Bird Squad
	url = https://github.com/frendylio/The-Bird-Squad
[submodule "HACC 2019 - Garys Best"]
	path = HACC 2019 - Garys Best
	url = https://github.com/frendylio/garys-best
